<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wiki_clickstream.mapper.ClickstreamNodeMapper">
    <select id="getDateRange" resultType="java.lang.String">
        SELECT DISTINCT DATE_FORMAT(date, '%Y-%m') AS date_range
        FROM clickstream_node
        WHERE lang = #{lang}
    </select>
    <select id="getNodeList" resultType="com.example.wiki_clickstream.entity.ClickstreamNode">
        SELECT *
        FROM clickstream_node c
        INNER JOIN (
            SELECT dc_dict_idx, density
            FROM clickstream_node
            WHERE dict_idx = dc_dict_idx
            AND lang = #{lang}
            AND date = #{date}
            AND dc_dict_idx IN (
                SELECT dc_dict_idx
                FROM clickstream_node
                WHERE lang = #{lang} AND date = #{date}
                <if test="keyword != null and keyword != ''">
                    AND name LIKE CONCAT('%', #{keyword}, '%')
                </if>
            )
            ORDER BY density DESC
            LIMIT #{pageSize} OFFSET #{offset}
        ) AS centers ON c.dc_dict_idx = centers.dc_dict_idx
        WHERE lang = #{lang} AND date = #{date}
        ORDER BY centers.density DESC, c.dc_dict_idx, c.density DESC;
    </select>
    <select id="getListTotal" resultType="Long">
        SELECT COUNT(*) as total_count
        FROM clickstream_node
        WHERE dict_idx = dc_dict_idx
        AND lang = #{lang}
        AND date = #{date}
        AND dc_dict_idx IN (
            SELECT dc_dict_idx
            FROM clickstream_node
            WHERE lang = #{lang} AND date = #{date}
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        );
    </select>
    <select id="getCenterNodes" resultType="com.example.wiki_clickstream.entity.ClickstreamNode">
        SELECT *
        FROM clickstream_node
        WHERE lang = #{lang} AND  date = #{date} AND dict_idx = dc_dict_idx ORDER BY density desc
    </select>
    <select id="getClusterNodes" resultType="com.example.wiki_clickstream.entity.ClickstreamNode">
        SELECT *
        FROM clickstream_node
        WHERE lang = #{lang} AND date = #{date} AND label = #{label} ORDER BY density desc
    </select>
    <select id="getClusterNodesName" resultType="java.lang.String">
        SELECT GROUP_CONCAT(name ORDER BY c_n.density DESC) AS names
        FROM clickstream_node c_n
            INNER JOIN (
            SELECT dc_dict_idx, density as dc_density
            FROM clickstream_node
            WHERE dict_idx = dc_dict_idx
            AND lang = #{lang}
            AND date = #{date}
            <if test="label != null and label != ''">
                AND label = #{label}
            </if>
            ) AS centers ON c_n.dc_dict_idx = centers.dc_dict_idx
        WHERE lang = #{lang} AND date = #{date}
        GROUP BY date, lang, c_n.dc_dict_idx
        ORDER BY dc_density DESC
    </select>
</mapper>
