<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wiki_clickstream.mapper.ClickstreamMapper">
    <select id="getDateRanges" resultType="java.lang.String">
        SELECT DISTINCT DATE_FORMAT(date, '%Y-%m') AS date_range
        FROM clickstream
    </select>
    <select id="getDCRoot" resultType="com.example.wiki_clickstream.entity.Clickstream">
        SELECT *
        FROM clickstream
        WHERE date = #{date} AND dict_idx = dc_dict_idx
    </select>
    <select id="getDCs" resultType="com.example.wiki_clickstream.entity.Clickstream">
        SELECT *
        FROM clickstream
        WHERE date = #{date} AND dc_dict_idx = #{dcRoot}
    </select>
</mapper>
