<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wiki_clickstream.mapper.ClickstreamMapper">
    <select id="getDataByDate" resultType="com.example.wiki_clickstream.entity.Clickstream">
        SELECT *
        FROM clickstream
        WHERE date = #{date}
    </select>
</mapper>
